.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.info {
    display: flex;
    justify-content: center;
    padding-top: 2rem;

    .input-sign {
        border: none;
        border-radius: 0.5rem;
    }
}